.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contentPR {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.close-buttonPR {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  position: relative;
  z-index: 1001; 
}

.close-button:hover {
  color: #000;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.modal-button {
  padding: 10px;
  background-color: #015319;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #013f14;
}

.modal-message {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
